@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
  height: fit-content;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  background: transparentize;
  border: none;
}

img {
  display: inline-block;
  object-fit: cover;
}

body {
  font-family: "Karla", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", serif;
}

nav {
  padding: 19px 156px 19px 159px;
}

@media only screen and (max-width: 74.9375rem) {
  nav,
.m-nav-padding {
    padding: 24px 31px;
  }
}

.button-dark, .button-light {
  padding: 15px 26px;
}

html {
  box-sizing: inherit;
  font-size: 100%;
  scroll-behavior: smooth;
}

.button-dark {
  display: inline-block;
  color: #2b272f;
  border: 2px solid #2b272f;
}
.button-dark:hover {
  background-color: #2b272f;
  color: #fafafa;
}
.button-light {
  display: inline-block;
  color: #fafafa;
  border: 2px solid #fafafa;
}
.button-light:hover {
  color: #2b272f;
  background-color: #fafafa;
}

a {
  color: #95a9c6;
  transition: 0.3s all ease-in-out;
}
a:hover {
  color: #2b272f;
}

.flex {
  display: flex;
}
.flex-jc-c {
  justify-content: center;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-sa {
  justify-content: space-around;
}
.flex-jc-se {
  justify-content: space-evenly;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-ai-c {
  align-items: center;
}
.flex-ai-s {
  align-items: start;
}

@media only screen and (min-width: 43.125rem) {
  .med-up-invisible {
    display: none;
  }
}
@media only screen and (max-width: 74.9375rem) {
  .med-down-visible {
    display: block;
  }
}
nav {
  min-height: 76px;
  background: white;
}
nav .nav-container {
  position: relative;
}
nav li {
  text-transform: uppercase;
}
nav li:not(:nth-last-child(2)) {
  margin-right: 19px;
  margin-top: 18px;
}
nav img {
  cursor: pointer;
}
nav img.mob-nav-pat {
  display: none;
  cursor: none;
}
@media only screen and (max-width: 74.9375rem) {
  nav img.mob-nav-pat {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }
}

@media only screen and (max-width: 74.9375rem) {
  ul.nav-links {
    display: flex;
    height: 80%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    flex-direction: column;
    margin-top: 80px;
    text-align: center;
    background: #2b272f;
    transform: translateY(-150%);
    transition: all 0.2s ease-in-out;
    padding-top: 53px;
    padding: 53px 2rem;
    transition: transform 0.5s ease-in-out;
  }
  ul.nav-links > li {
    letter-spacing: 0.75px;
    text-align: center;
    margin-top: 49px;
  }
  ul.nav-links > li a {
    display: block;
    color: #fafafa;
    border-color: #fafafa;
  }
  ul.nav-links:after {
    content: "";
    height: 14%;
    width: 100%;
    position: absolute;
    bottom: -101px;
    left: 0;
    background: #fafafa;
  }
}

.menu-open,
.menu-close {
  display: none;
}

@media only screen and (max-width: 74.9375rem) {
  .menu-open {
    display: block;
  }
}

@media only screen and (max-width: 74.9375rem) {
  .nav-container.open ul {
    transform: translateY(0%);
  }
}
.nav-container.open .menu-open {
  display: none;
}
.nav-container.open .menu-close {
  display: block;
}

/*# sourceMappingURL=style.css.map */
