//neutral Colors
$VeryDarkViolet: hsl(270, 9%, 17%);
$DarkGrayishViolet: hsl(273, 4%, 51%);
$VeryLightGray: hsl(0, 0%, 98%);
//primary colors
$DarkViolet: hsl(256, 26%, 20%);
$GrayishBlue: hsl(216, 30%, 68%);
//default color for now
$black: hsl(0, 0%, 0%);
$white: rgb(255, 255, 255);
