@use '../designs/media';
@include media.breakUp(medium) {
  .med-up-invisible {
    display: none;
  }
}
@include media.breakDown(medium) {
  .med-down-visible {
    display: block;
  }
}
%med-down-visible {
  @include media.breakDown(medium) {
    display: block;
  }
}
