@use "../designs/color";
.btn {
  background: transparent;
  border-width: 1px;
  padding: 1rem 2.5rem;
  border-style: solid;
  font-weight: 600;
  &-dark {
    color: color.$VeryDarkViolet;
    border-color: color.$VeryDarkViolet;
    &:hover {
      background: color.$VeryDarkViolet;
      color: color.$white;
    }
  }
  &-light {
    color: color.$white;
    border-color: color.$white;
  }
}
