@use './resets';
@use '../designs/fonts';
@use '../designs/typography';
@use '../resets/button';
@use '../designs/color';
html {
  box-sizing: inherit;
  font-size: 100%;
  scroll-behavior: smooth;
}
